
body {
    margin: 0;
    font-family: 'Dosis',"sans-serif","Ubuntu"!important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.logo {
    align-self: center;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}
A .Nav .nav-Link :hover {
    text-decoration: underline !important;
    color: aqua!important;

}
a:hover {
    color: white !important;
    text-decoration: underline !important;
}
.nav-Link {
    position: fixed !important;
}
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    /* padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: relative;
    top: 40px;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: bold;
    color: #000;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sticky-bottom {
        position: -webkit-sticky;
        position: sticky;
        bottom: 0;
        z-index: 1020;
        width: 100%;
    }
}
.artist-box {
    display: flex;
    align-items: center;
}

.artist-name {
    font-size: 12px;
    font-weight: bold;
    flex: 1 1 auto;
}
.artist-name:hover {
    text-decoration: underline;
}
.artist-picture {
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.artist-picture-large {
    width: 150px;
    border-radius: 50%;
    margin-right: 10px;
}
.song {
    width: 100%;
}

.track-title {
    text-align: left;
}

